.image.is-4by3 img{
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.image.is-4by3{
    padding-top: 150px;
}

.card .media:not(:last-child){
    margin-bottom: 10px;
}

.title{
    text-align: center;
}

.content{
    text-align: center;
}